body {
    margin: 0;
}

* {
    animation: 10s infinite;
}

.sky {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    animation-name: sky;
    overflow: hidden;
}

.sun, .moon {
    position: absolute;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;
}

.sun {
    background-color: gold;
    animation-name: sun;
}

.moon {
    background-color: slategray;
    transform: translateX(-55vmin);
    animation-name: moon;
}

@keyframes sky {
    50% {
        background-color: black;
    }
}

@keyframes sun {
    50% {
        box-shadow: 0 0 5em 1em white;
    }
}

@keyframes moon {
    from {
        transform: translateX(-100vmin);
    }

    50% {
        background-color: black;
    }

    to {
        transform: translateX(100vmin);
    }
}