html,body,.circle{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:black;
}

.circle{
    position:relative;
    width:10em;
    height:10em;
    border-top-color:red;
    border-bottom-color:blue;
    font-size:30px;
    animation: animate 4s ease-in-out infinite alternate;
}

.circle,
.circle::after,
.circle::before{
    border-style:solid;
    border-width:0.4em;
    border-radius:50%;
}

.circle::after,
.circle::before{
    position:absolute;
    content:"";
}

.circle::before{
    width:75%;
    height:75%;
    border-top-color:orange;
    border-bottom-color:cyan;
    animation: animate 8s ease-in-out infinite alternate;
}

.circle::after{
    width:50%;
    height:50%;
    border-top-color:yellow;
    border-bottom-color:limegreen;
    animation: animate 16s ease-in-out infinite alternate;
}

@keyframes animate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1440deg);
    }
}